h1,
h2 {
  font-family: var(--header-font);
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h3,
h4,
h5,
h6 {
  font-family: var(--subtitle-font);
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

a {
  color: $link-color;
  font-weight: $font-weight-bold;
  text-decoration: none;
  transition: all ease .2s;

  &:hover {
    color: $link-color-hover;
  }
}
