<div class="boxes">
  <div class="box small-card monthly-box">
    <h4>2 items box</h4>
    <small>
      For eco-conscious fashionistas
    </small>
    <p>
      <span class="checkmark">✔</span> 2 clothing items per month
      <br>
      <span class="checkmark">✔</span> 1 self-care item from local partnerships per box
      <br>
      <span class="checkmark">✔</span> Curated according to your style and lifestyle
    </p>
    <h3>ab 30€</h3>
  </div>
  <div class="box seasonal-box">
    <h4>5 items box</h4>
    <small>
      For practical moms
    </small>
    <p>
      <span class="checkmark">✔</span> 6 clothing items for the whole season (4 months)
      <br>
      <span class="checkmark">✔</span> 2 self-care items from local partnerships per box
      <br>
      <span class="checkmark">✔</span> Curated according to your style and lifestyle
    </p>
    <h3>ab 60€</h3>
  </div>
  <div class="box small-card 9-months-box">
    <h4>Nine months box</h4>
    <small>
      For moms who like to plan ahead
    </small>
    <p>
      <span class="checkmark">✔</span> 12 clothing items for your entire pregnancy
      <br>
      <span class="checkmark">✔</span> 4 self-care items from local partnerships per box
      <br>
      <span class="checkmark">✔</span> Curated according to your style and lifestyle
    </p>
    <h3>ab 100€</h3>
  </div>
</div>
