<div class="testimonials-section">
  <div class="testimonials">
    <div class="testimonial testimonial-1">
      <h4>"</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum corporis excepturi quod reprehenderit voluptatem tenetur sequi minima distinctio, officiis quis quos laboriosam ab repellat repellendus eius voluptates culpa autem.
      </p>
    </div>
    <div class="testimonial testimonial-2">
      <h4>"</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum corporis excepturi quod reprehenderit voluptatem tenetur sequi minima distinctio, officiis quis quos laboriosam ab repellat repellendus eius voluptates culpa autem.
      </p>
    </div>
    <div class="testimonial testimonial-3">
      <h4>"</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum corporis excepturi quod reprehenderit voluptatem tenetur sequi minima distinctio, officiis quis quos laboriosam ab repellat repellendus eius voluptates culpa autem.
      </p>
    </div>
  </div>
</div>
