<%= render 'hero' %>

<div class="product-section">
  <h3>Bereit, das perfekte Outfit zu mieten?</h3>
  <article>
    <% cache(cache_key_for_products) do %>
      <%= render 'products/products', products: @products %>
    <% end %>
  </article>
</div>
