.testimonials-section {
  padding: 3rem;
  width: 100%;
}

.testimonials {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.testimonial {
  margin: 15px;
  padding: 25px;
  background-color: var(--brand-white);
  box-shadow: 0 0 15px rgba(0,0,0,0.04);
  border-radius: 8px;
  flex: 1 100%;
  font-weight: 400;
  max-width: 400px;
  height: 260px;
}

.testimonial h4 {
  color: var(--brand-pink);
  font-family: var(--header-font);
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  line-height: 50px;
}
